@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  // font-family: Ubuntu, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
